<% @ad.comments.each do |comment| %>
    <div class="row">
        <div class="col-md-12">
            <% if (current_member) && (comment.member.id == current_member.id) %>
                <%= rating_for_user @ad, current_member, 'quality' %>
            <% end %>
            <p><strong><%= comment.member.email %></strong></p>
            <span class="pull-right"><%= time_ago_in_words(comment.created_at) %></span>
            <p><%= comment.body %></p>

        </div>
    </div>

    <hr>
<% end %>
