<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou uma mudança de senha para sua conta. Você pode fazer essa mudança através do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa solicitação, por favor ignore esse email.</p>
<p>Sua senha não mudará até que você acesse o link acima e cadastre uma senha nova.</p>
